/* variables */
:root {
  --neutral: hsl(0, 0%, 100%);

  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);

  --brown-800: hsl(14, 45%, 36%);

  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
}

/* reset */
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* base styles */

/* fonts */
@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("assets/fonts/outfit/Outfit-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Young-serif";
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* mobile style */

/* small tablet style */
@media screen and (min-width: 620px) {
}

/* large tablet and laptop style */
@media screen and (min-width: 960px) {
}

/* desktop style */
@media screen and (min-width: 1200px) {
}
